@use '../variables';

.app-form {
    position: relative;
    width: 100%;
    height: 3.4rem;
    border-radius: 9999px;
    background-color: variables.$color-white;
    overflow: hidden;

    &__input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: 1.4rem;
        padding-right: 3.6rem;
        border-radius: 9999px;
        font-size: 0.9rem;
        font-weight: 500;
        color: variables.$color-very-dark-desaturated-violet;
        border: 0.2rem solid variables.$color-white;

        &:focus {
            outline: none;
            border: 0.2rem solid variables.$color-very-light-magenta;
        }

        &::placeholder {
            font-weight: 400;
            color: variables.$color-dark-grayish-violet;
        }
    }

    &__button {
        position: absolute;
        top: 50%;
        right: 0.5rem;
        transform: translateY(-50%);
        width: 2.4rem;
        height: 2.4rem;
        margin-left: 0.5rem;
        border-radius: 9999px;
        background-color: variables.$color-very-dark-desaturated-violet;
        border: 0.2rem solid variables.$color-very-dark-desaturated-violet;
        transition: background-color 150ms;
        cursor: pointer;

        &:focus {
            background-color: variables.$color-very-dark-desaturated-violet;
            outline: none;
            border: 0.2rem solid variables.$color-very-light-magenta;
        }
    }

    &__icon {
        width: 2rem;
        height: 2rem;
    }
}