@use '../variables';

.app-bubble {
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.8rem;
    margin-bottom: 0.8rem;

    &--left {
        align-self: flex-start;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 0.4rem;
    }

    &--right {
        align-self: flex-end;
        border-bottom-right-radius: 0.4rem;
        border-bottom-left-radius: 1rem;
    }

    &--small {
        max-width: 12.8rem;
    }

    &--large {
        width: 16rem;
    }

    &--violet {
        background-color: variables.$color-bubble-from;
    }

    &--white {
        background-color: variables.$color-white;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.05), 0 4px 6px -4px rgb(0 0 0 / 0.05);
    }

    &--gradient {
        background: linear-gradient(to right, variables.$color-light-magenta, variables.$color-light-violet);
    }

    &--flex {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    &--last {
        margin-bottom: 1.6rem;
    }

    &__message {
        font-size: 0.8rem;
        font-weight: 500;
        line-height: 1.1rem;

        &--violet {
            color: variables.$color-moderate-violet;
        }

        &--dark-violet {
            color: variables.$color-very-dark-desaturated-violet;
        }
    }

    &__option {
        position: relative;
        display: flex;
        width: 1.2rem;
        height: 1.2rem;
        overflow: hidden;
        border-radius: 9999px;
        border: 0.1rem solid variables.$color-light-grayish-violet;
        margin-right: 0.8rem;
    }

    &__input {
        position: absolute;
        z-index: 60;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

    &__dot {
        position: relative;
        z-index: 50;
        width: 0.6rem;
        height: 0.6rem;
        margin: auto;
        transform: scale(0);
        border-radius: 9999px;
        background-color: variables.$color-white;
        transition: transform 150ms;

        .app-bubble__input:checked ~ & {
            transform: scale(1);
        }
    }

    &__duration {
        font-size: 0.8rem;
        font-weight: 400;
        color: variables.$color-light-grayish-violet;
    }

    &__price {
        font-size: 1.2rem;
        font-weight: 600;
        color: variables.$color-white;
        margin-left: auto;
        margin-right: 0.8rem;
    }
}