@use '../variables';

.app {
    width: 100%;
    height: auto;
    background-color: variables.$color-chat;

    &__bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top: 3.2rem;
        padding-bottom: 1.2rem;
        padding-left: 0.6rem;
        padding-right: 0.6rem;
        background: linear-gradient(to left, variables.$color-light-magenta, variables.$color-light-violet);
    }

    &__chat {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
    }
}