@use '../variables';

.app-form {
    position: relative;
    width: 100%;
    height: 3.4rem;
    border-radius: 9999px;
    background-color: variables.$color-white;
    overflow: hidden;

    &__input {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 0.2rem);
        height: calc(100% - 0.2rem);
        padding-left: 1.5rem;
        padding-right: 3.5rem;
        border-radius: 9999px;
        font-size: 0.9rem;
        font-weight: 400;

        &:focus {
            outline: 0.1rem solid variables.$color-moderate-violet;
        }

        &::placeholder {
            color: variables.$color-dark-grayish-violet;
        }
    }

    &__button {
        position: absolute;
        top: 50%;
        right: 0.5rem;
        transform: translateY(-50%);
        display: flex;
        width: 2.4rem;
        height: 2.4rem;
        margin-left: 0.5rem;
        border-radius: 9999px;
        background-color: variables.$color-very-dark-desaturated-violet;
        transition: opacity 150ms, background-color 150ms;
        cursor: pointer;

        &:focus {
            outline: none;
            background-color: variables.$color-moderate-violet;
        }

        &:hover {
            opacity: 0.8;
        }
    }

    &__icon {
        margin: auto;
    }
}