@use '../variables';

.app-info {
    margin-left: 0.8rem;

    &__name {
        font-size: 1.1rem;
        font-weight: 500;
        color: variables.$color-white;
    }

    &__state {
        font-size: 0.8rem;
        font-weight: 400;
        color: variables.$color-white;
        opacity: 0.75;
    }
}